{% extends "main.twig" %}

{% block title %}Confirm email address{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>Change your password</legend>
						<div class="mb-3">
							<label for="currentPassword" class="form-label">Current password</label>
							<input id="currentPassword" name="currentPassword" type="password" required class="form-control{% if result == 1 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								Wrong password
							</div>
						</div>
						<div class="mb-3">
							<label for="newPassword" class="form-label">New password</label>
							<input id="newPassword" name="newPassword" type="password" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								Password invalid
							</div>
						</div>
						<div class="mb-3">
							<label for="newPasswordConfirm" class="form-label">Confirm new password</label>
							<input id="newPasswordConfirm" name="newPasswordConfirm" type="password" required class="form-control{% if result == 3 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								The passwords don't match
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Send</button>
					</fieldset>
				</form>
			</div>
		{% else %}
			<div class="alert alert-success m-auto">
				Your password was changed successfully.
			</div>
		{% endif %}
	</div>
{% endblock %}