{% extends "main.twig" %}

{% block title %}Confirm email address{% endblock %}
{% block content %}
	<div class="d-flex">
		<div class="alert alert-success m-auto">
			Your Log-In Password was rerolled.
		</div>
	</div>
{% endblock %}