RewriteEngine on

# Special rules for the requests with parameter
RewriteCond "%{QUERY_STRING}" "^name=/01/CGB-BXTE/battle/room(....)\.cgb$"
RewriteRule "^download$" "/cgb/download?name=/01/CGB-BXTE/battle/room.cgb&room=%1"

RewriteCond "%{QUERY_STRING}" "^name=/01/CGB-BXTE/battle/leaders(....)\.cgb$"
RewriteRule "^download$" "/cgb/download?name=/01/CGB-BXTE/battle/leaders.cgb&room=%1"

RewriteCond "%{QUERY_STRING}" "^name=/01/CGB-BXTJ/battle/room(....)\.cgb$"
RewriteRule "^download$" "/cgb/download?name=/01/CGB-BXTJ/battle/room.cgb&room=%1"

RewriteCond "%{QUERY_STRING}" "^name=/01/CGB-BXTJ/battle/leaders(....)\.cgb$"
RewriteRule "^download$" "/cgb/download?name=/01/CGB-BXTJ/battle/leaders.cgb&room=%1"

# General rules for the up- and download functions
RewriteRule "^download$" "download.php"
RewriteRule "^upload$" "upload.php"
RewriteRule "^ranking$" "ranking.php"
RewriteRule "^utility$" "utility.php"

# Without this, Apache will not make the Authorization header visible
CGIPassAuth on