{% extends "main.twig" %}

{% block title %}{{'account.change-email'|trans}}{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result == 0 %}
			<div class="alert alert-success m-auto">
				{{'account.email-changed-success'|trans}}
			</div>
		{% elseif result == 1 %}
			<div class="alert alert-danger m-auto">
				{{'link-invalid-expired'|trans}}
			</div>
		{% endif %}
	</div>
{% endblock %}