{% extends "main.twig" %}

{% block title %}Forgot password{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 0 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>Reset your password</legend>
						<div class="mb-3">
							<label for="email" class="form-label">Email address</label>
							<input id="email" type="email" name="email" required class="form-control{% if result > 0 %}{{ " is-invalid" }}{% endif %}" value="{{ email|e }}">
							{% if result == 1 %}
								<div class="invalid-feedback">
									This email isn't registered
								</div>
							{% elseif result == 2 %}
								<div class="invalid-feedback">
									An email was sent less than 5 minutes ago
								</div>
							{% endif %}
						</div>
						<button type="submit" class="btn btn-primary">Send</button>
					</fieldset>
				</form>
			</div>
		{% else %}
			<div class="alert alert-success m-auto">
				If registered, an email containing a link to reset your password was sent to the specified email address.
			</div>
		{% endif %}
	</div>
{% endblock %}