{% extends "main.twig" %}

{% block title %}Forgot password{% endblock %}
{% block content %}
	<div class="d-flex">
		{% if result != 1 and result != 4 %}
			<div class="card m-auto">
				<form method="post" accept-charset="utf-8" class="card-body">
					<fieldset>
						<legend>Reset your password</legend>
						<div class="mb-3">
							<label for="password" class="form-label">New password</label>
							<input id="password" type="password" name="password" required class="form-control{% if result == 3 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								Password invalid
							</div>
						</div>
						<div class="mb-3">
							<label for="passwordConfirm" class="form-label">Confirm new password</label>
							<input id="passwordConfirm" type="password" name="passwordConfirm" required class="form-control{% if result == 2 %}{{ " is-invalid" }}{% endif %}">
							<div class="invalid-feedback">
								The passwords don't match
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Reset</button>
					</fieldset>
					<input type="hidden" name="id" value="{{ id|e }}">
					<input type="hidden" name="key" value="{{ key|e }}">
				</form>
			</div>
		{% elseif result == 1 %}
			<div class="alert alert-danger m-auto">
				This link is invalid or has expired.
			</div>
		{% elseif result == 4 %}
			<div class="alert alert-success m-auto">
				Your password was reset successfully.
			</div>
		{% endif %}
	</div>
{% endblock %}