RewriteEngine on

# Pokemon: Special rules for the requests with parameter
RewriteCond "%{QUERY_STRING}" "^name=/01/CGB-BXT([A-Z])/battle/room(....)\.cgb$"
RewriteRule "^download$" "/cgb/download?name=/01/CGB-BXT%1/battle/room.cgb&room=%2"

RewriteCond "%{QUERY_STRING}" "^name=/01/CGB-BXT([A-Z])/battle/leaders(....)\.cgb$"
RewriteRule "^download$" "/cgb/download?name=/01/CGB-BXT%1/battle/leaders.cgb&room=%2"

# Mario Kart
#RewriteCond "%{QUERY_STRING}" "^name=/01/AGB-AMKJ/timetrial/(..)/(.*)$"
#RewriteRule "^ranking$" "/cgb/ranking?name=/01/AGB-AMKJ/timetrial/%2&course=%1"

#RewriteCond "%{QUERY_STRING}" "^name=/01/AGB-AMKJ/timetrial/(..)/0\.entry\.cgb$"
#RewriteRule "^upload$" "/cgb/upload?name=/01/AGB-AMKJ/timetrial/0.entry.cgb&course=%1"


# General rules for the up- and download functions
RewriteRule "^download$" "download.php"
RewriteRule "^upload$" "upload.php"
RewriteRule "^ranking$" "ranking.php"
RewriteRule "^utility$" "utility.php"

# Without this, Apache will not make the Authorization header visible
CGIPassAuth on

#php_flag display_errors 0